*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c3d8c4;
}

.container{
    background-color: #fff;
    width: 400px;
    
    padding : 2rem 4rem ;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 1)
    
    
  
}
h1{
    margin: 0;
    color: #333;
    text-shadow: 2px 2px 3px grey;
    padding-bottom: 1rem;

}

#box{
    width: calc(100% - 22px);
    padding: 0.5rem;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    box-shadow:inset 2px 2px 2px ;
}

.form-group{
    margin:20px 0 ;
}

#btn{
    width: 100%;
    padding: 0.5rem;
    background-color: #28a745;
    border: none;
    border-radius:5px ;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px black ;
}
#btn:hover{
    background-color: #218838;
}

#list_item{
    list-style-type: none;
    padding: 0;
}

#list_item li{
    padding: 0.8rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list_item li :hover{
    background-color: #e9ecef;
}

.delete-btn , .edit-btn{
    background-color: #dc3545;
    border: none;
    color: white;
    padding:0.5rem 0.8rem ;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.fas{
    color: #28a745;
}

.delete-btn:hover{
    background-color: #c82333;
}
.edit-btn{
    background-color: #ffc107;
}
.edit-btn:hover{
    background-color: #9e7701;

}

.date-time{
    font-size: 0.9em;
    color: #666;
}

@media (max-width : 500px){
    .container{
        width: 250px;
        margin: 20px;
    }
    h1{
        font-size: 1.2rem;
    }
}